.button {
    /*float: right;*/
    margin-top: 1rem;
    color: var(--white);
    background: var(--primary);
    transition: .7s;
}

.button.danger{
    background: #8e0000;
}

.button.success{
    background: #155724;
}

.button:hover,
.button:active {
    color: var(--white);
    background: var(--secondary);
}

.button.danger:hover,
.button.danger:active{
    background: #d50000;
}

.button.success:hover,
.button.success:active{
    background: #00b92c;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: .5rem 1rem;
    outline: 0;
    border: 2px solid var(--border);
    border-radius: 8px;
    background: transparent;
    color: var(--textColorSecond);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: .7s;
}

.custom-select select::-ms-expand {
    display: none;
}

.custom-select select:hover,
.custom-select select:focus {
    border: 2px solid var(--primary);
}

.custom-select select:disabled {
    opacity: 1;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: var(--labelColor) transparent transparent transparent;
    transition: .7s;
}

.custom-select select:hover ~ .select_arrow,
.custom-select select:focus ~ .select_arrow {
    border-top-color: var(--primary);
}

.custom-select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

.custom-label{
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    margin-bottom: .5rem;
}

.custom-input{
    padding: .5rem 1rem;
    border: 2px solid var(--border);
    border-radius: 8px;
    margin-right: 1rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--textColorSecond);
    width: 100%;
    transition: .7s;
}

.custom-input:hover,
.custom-input:focus,
.custom-input:active{
    outline: none;
    border: 2px solid var(--primary);
}

.custom-textarea{
    padding: .5rem 1rem;
    border: 2px solid var(--border);
    border-radius: 8px;
    margin-right: 1rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--textColorSecond);
    width: 100%;
    transition: .7s;
}

.custom-textarea:hover,
.custom-textarea:focus,
.custom-textarea:active{
    outline: none;
    border: 2px solid var(--primary);
}

.custom-image-upload-wrapper{
    display: flex;
    flex-direction: column;
}

.custom-image-upload {
    position: relative;
    display: flex;
    flex-direction: row;
}
.custom-image-upload .custom-image-upload-text {
    padding: .5rem 1rem;
    border: 2px solid var(--border);
    border-radius: 8px;
    margin-right: 1rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--textColorSecond);
    width: 100%;
    transition: .7s;
}
/*.custom-image-upload-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: var(--white);
    text-align: center;
    border-radius: 0 4px 4px 0;
    background-color: var(--primary);
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.7s;
}*/

.custom-image-upload .button{
    margin-top: 0;
}

.custom-image-upload input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Hover/active */
.custom-image-upload:hover .custom-image-upload-btn {
    background-color: var(--secondary);
}
.custom-image-upload:active .custom-image-upload-btn {
    background-color: var(--secondary);
}

/* Disabled */
.custom-image-upload input[type=file]:disabled + .custom-image-upload-btn {
    background-color: #eee;
}


