@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --primary: #00528E;
    --secondary: #007bd5;
    --backgroud: #fafafa;
    --white: #fff;
    --black: #000;
    --textColor: #141414;
    --labelColor: rgba(20, 20, 20, 0.5);
    --border: rgba(20, 20, 20, 0.1);
    --sectionBorder: rgba(20, 20, 20, 0.05);
    --textColorSecond: #393F47;
}

*{
    font-family: 'Roboto', sans-serif;
}

body{
     background: var(--white);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.shadow-sm{
    box-shadow: none !important;
}

.container{
    margin: auto;
}

.navbar-brand{
    color: var(--primary);
    font-weight: 700;
    transition: 1s;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row;
}

.navbar-brand:hover{
    color: var(--secondary);
}

.navbar-brand span{
    font-size: 0.75rem;
    margin-left: .5rem;
}

.nav-link{
    color: var(--textColor);
    font-weight: 500;
}

.nav-link:hover{
    color: var(--secondary);
}

.nav-link.create-link{
    color: green;
}

.dropdown-item-container{
    display: flex;
}

.login{
    padding: 0.5rem 1.5rem !important;
    border: 2px solid var(--border);
    color: var(--textColor);
    background: transparent;
    border-radius: 8px;
    margin-right: 1rem;
}

.login:hover{
    border: 2px solid var(--secondary);
}

.signup{
    padding: 0.5rem 1.5rem !important;
    border: 2px solid var(--primary);
    color: var(--white);
    background: var(--primary);
    border-radius: 8px;
}

.signup:hover{
    background: var(--secondary);
    color: var(--white);
    border: 2px solid var(--secondary);
}

@media (max-width: 768px){
    .login{
        margin-right: 0;
    }
}
